{# page.html.twig #}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  {{ head }}
  <title>{{ head_title }}</title>
  {{ page.head }}
  {{ page.styles }}
  {{ page.library }}
  {{ page.js }}
</head>
<body{{ attributes.addClass(body_classes) }}>
  {{ page }}
  {{ page.footer }}
  {{ page.scripts }}

  <div class="main-content">
    {# Include the full template for the Spotify node type #}
    {% include '@dc/full/node--spotify--full.html.twig' %}
  </div>
</body>
</html>
