{# node--spotify--full.html.twig #}

<article{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  <div class="spotify-teaser-content">
  {% if content.track_album_image_url %}
    {# Assuming track_album_image_url is a URL field #}
    {% set imageUrl = content.track_album_image_url['#items'].0.value %}

    <img src="{{ imageUrl }}" alt="{{ content.track_album_type }}">
    {{ content }}

  {% endif %}
  </div>
</article>
