{# node--spotify--full.html.twig #}

<article{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  <div class="spotify-full-content">
  {% if content.track_album_image_url %}
    {# Assuming track_album_image_url is a URL field #}
    {% set imageUrl = content.track_album_image_url['#items'].0.value %}

    <img src="{{ imageUrl }}" alt="{{ content.track_album_type }}">

    <div class="info">
      <div class="title">
        {{ 'Song'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_name['#items'].0.value }}
      </div>
    </div>

    <div class="info">
      <div class="title">
        {{ 'Artist'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_artist_name['#items'].0.value }}
      </div>
    </div>

    <div class="info">
      <div class="title">
        {{ 'Album type'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_album_type['#items'].0.value }}
      </div>
    </div>

    <div class="info">
      <div class="title">
        {{ 'Genre'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_main_genre['#items'].0.value }}
      </div>
    </div>

    <div class="info">
      <div class="title">
        {{ 'Position'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_number['#items'].0.value }}
      </div>
    </div>

    <div class="info">
      <div class="title">
        {{ 'Popularity'|t }}
      </div>
      <div class="spotify__info">
        {{ content.track_popularity['#items'].0.value }}
      </div>
    </div>

  {% endif %}
  </div>
</article>
